name: ZTV

on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Generate ztv.m3u
        run: |
          set -e
          curl -L "https://ztv.pfy.workers.dev" -o data.json

          if [ ! -s data.json ]; then
            echo "Download failed"
            exit 1
          fi

          echo "#EXTM3U" > ztv.m3u

          jq -r '
            .[]?
            | select(type=="object")
            | (.name // "Unknown") as $n
            | (.logo // "") as $logo
            | (.link // .url // .mpd // "") as $url
            | (.drmLicense // "") as $lic
            | (.cookie // "") as $cookie
            | select($url != "")

            ,
            "#EXTINF:-1" +
            (if $logo != "" then " tvg-logo=\"" + $logo + "\"" else "" end) +
            "," + $n,

            (if ($lic|contains(":"))
              then "#KODIPROP:inputstream.adaptive.license_type=clearkey",
                   "#KODIPROP:inputstream.adaptive.license_key=" + $lic
              else empty end),

            (if $cookie != ""
              then "#EXTHTTP:{\"cookie\":\"" + $cookie + "\"}"
              else empty end),

            $url
          ' data.json >> ztv.m3u

      - name: Commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add ztv.m3u
          git diff --cached --quiet && exit 0
          git commit -m "update ztv.m3u"
          git push
