name: Merge IPTV

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"   # har 6 ghante (safe)

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # -------- Download Hotstar M3U --------
      - name: Download ztv.m3u
        run: |
          curl -L "https://livetv-cb7.pages.dev/hotstar" -o ztv.m3u

      # -------- Download Sony playlist --------
      - name: Download sony.m3u
        run: |
          curl -L "https://raw.githubusercontent.com/cloudplay97/m3u/refs/heads/main/sony.m3u" -o sony.m3u

      # -------- Merge both --------
      - name: Merge playlists
        run: |
          echo "#EXTM3U" > merged.m3u
          tail -n +2 ztv.m3u >> merged.m3u
          tail -n +2 sony.m3u >> merged.m3u

      # -------- Commit --------
      - name: Commit merged.m3u
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add merged.m3u
          git diff --cached --quiet && exit 0
          git commit -m "Auto update merged IPTV"
          git push
